@media(max-width:1275px)
{
    .hidden
    {
        display: block;
    }
    .part2
    {
        display: none;
    }
}
@media(max-width:1207px)
{

    .subscribe
    {
        padding: 0;
    }
    .subscribe input,.subscribe button
    {
        padding: 10px;
        width: 200px;
    }
    
    
}
@media(max-width:717px)
{
    .part1
    {
        display: none;
    }
    .info h1
    {
        font-size: 60px;
    }
}