
    *
    {
        box-sizing: border-box;
        
        margin: 0;
        padding: 0;
    }
    body
    {
        background-color: rgb(244, 255, 251);
    }
    .container
    {
       
    }
    .fa-chevron-down
    {
        margin-left: 2px;
        font-size: 10px;
    }
    .pages1,.pages3
    {
        display: inline;
        /* background-color: brown; */
    }

    .pages,.pages2
    {
        /* display: block; */
        /* border: 3px solid black; */
        position: absolute;
        margin-left: 230px;
        margin-top:-20px;
        opacity: 0;
         /* color: red; */
        background-color: white;
        width: 200px;
        /* line-height: 20px; */
        transition: .71s;
        /* padding: 10px; */
        
    }
    .pages li a,.pages2 li a
    {
        line-height: 40px;
        padding: 10px;
    }
    .pages2
    {
        /* padding: 10px; */
        margin-left: 310px;
    }
    .pages3:hover .pages2
      {
       
       
        
        opacity: 1;
        margin-top: 0px;
    }
    .pages1:hover .pages
      {
       
       
        
        opacity: 1;
        margin-top: 0px;
        
    }
   
    .navbar .pages li
    {
        
        word-spacing: 2px;
    }
    .header
    {
        box-shadow: 1px 1px 3px black;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .navbar
    {

        background: white;
        /* padding: 30px; */
        display: flex;
        word-spacing: 20px;
        justify-content: space-between;
        position: relative;
        /* position: sticky; */
        
    }
    .hidden
    {
        display: none;
        top: 80%;
        border: 3px solid black;
        position: absolute;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: right;
        background: gray;
        /* color: white; */
    }
    .hidden .menu

    {
        display: inline;
        padding: 4px;
        background-color: black;
    }
    .hidden span ,.fa-bars
    {
        /* background-color: black; */
        color: white;
    }
   
  

    .part
    {
        
    }
    .navbar h3
    {
        margin-left: 20px;
        display: inline;
        color: black;
        
    }
    .navbar a
    {
        text-decoration: none;
        font-size: 25px;
    }
    .fa-phone
    {
        color: brown;
    }
    .navbar .fa-compass
    {
        line-height: 70px;
        display: inline;
        font-size: 40px;
        color: rgb(213, 0, 0);
    }
    .navbar li
    {
        display: inline;
      
    }
    .part1
    {
        margin-left: 30px;
        width: 700px;
        /* border: 3px solid; */
       
    }
    .part1 a
    {
        line-height: 70px;
        font-size: 18px;
        color: black;
    }
    .part1 a:hover
    {
        transition: .44s;
        color: rgb(100, 213, 175);
    }
    .part2
    {

        text-align: center;
        /* display: inline; */
       margin-left: 0px;
        /* background-color: brown; */
        
    }
    .part2 a
    {
        line-height: 70px;
        font-size: 18px;
        color: grey;
    }
    .part2 a:hover
    {
        transition: .44s;
        color: rgb(207, 0, 0);
    }

    .part3
    {

        background-color: tomato;
    }
    .part3 a
    {
        font-size: 18px;
        color: white;
    }
    .lastnav
    {
        display: block;
        padding: 30px;
    }
    .lastnav li
    {
        display: inline;
        margin-right: 0px;
    }
    /* .image
    {
        position: relative;
        width: 100%;
        height: ;
    }
    .image img
    {
        width: 100%;
        height: 100%;
    } */
     .image
     {
        justify-content: center;
        width: 100%;
        /* padding: 70px auto; */
        height: 650px;
        background-image: url('/Flex/Images/banner.png');
        background-size: 100% 100%;
        animation:imagechange 10s infinite ;
        /* border: 1px solid black; */
     }
     @keyframes imagechange
     {
        0%
        {
            background-image: url('/Flex/Images/banner.png');

        }
        40%
        {
            background-image: url('/Flex/Images/banner2.png');
        }
        80%
        {
            background-image: url('/Flex/Images/banner3.png');
        }

     }
    .info
    {
        /* position: absolute; */
        /* border: 4px solid; */
        padding: 150px;
        
    }
    .info h1
    {
         /* border: 1px solid black; */
        /* margin: 100px auto;   */
        text-align: center;
        color: white;
        font-family: Nothing You Could Do;
        font-size: 90px;
        font-style: italic;
       
    }
    .info span::before
    {
        content: "Indonesia";
        transition: 1s;
        animation:imagechangeh1 10s infinite ;

    }
    @keyframes imagechangeh1
     {
        0%
        {
            
            content: "Indonesia";

        }
        40%
        {
            content: "Australia";
        }
        80%
        {
            content: "switzerland";
        }
    }
    .info p
    {
        /* border: 1px solid black; */
        margin-top: 20px;
        text-align: center;
        color: white;
        font-size: 22px;
    }
    .butun
    {
        display: block;
        /* border: 3px solid black; */
        text-align: center;
        margin-top: 40px;
        

    }
    .butun button
    {
        width: 180px;
        height: 70px;
        border: none;
        background-color: rgb(97, 207, 170);
        border-radius: 5px;
        color: white;
        font-size: 18px;
        transition: .44s;
    }
    .butun button:hover
    {

         
         background-color: rgb(207, 0, 0);
         
    }
    .where
    {
     
        padding: 40px;
        background-color: rgb(8, 5, 47);
        color: white;
        text-align: center;
    }
    .where h1
    {
        display: inline;
        font-size: 30px;
    }
  
    .where input
    {
        margin-left: 10px;
        padding: 20px;
        background-color: rgb(8, 5, 47);
        border: 1px solid rgba(255, 255, 255, 0.378);
        border-radius: 5px;
        font-size: 15px;

    }
    .where button
    {
        background-color: rgb(209, 0, 0);
        border: none;
        color: white;
        padding: 20px 40px;
        border-radius: 5px;
        font-size: 15px;
        margin-left: 10px;
        transition: .44s;

    }
    .where button:hover
    {
        
        background-color: rgb(88, 184, 152);
    }
    .destination
    {
        
        text-align: center;
        width: 540px;
        margin: auto;
        padding: 40px;
    }
    .destination h1
    {
        font-size: 40px;
    }
    .destination p
    {
        font-size: 18px;
        color: grey;
    }
    .maincard1
    {
        box-sizing: border-box;
        /* border: 3px solid black; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    .card1
    {
        width: 350px;
        height: 280px;
        /* border: 3px solid pink; */
        position: relative;
       
    }
    .card1 img
    {
        filter: brightness(80%);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        
        
       

    }
    .move
    {
        transition: .41s;
    }
    .inside
    {
        position: absolute;
        margin-top: -70px;
        margin-left: 50px;
        /* border: 3px solid black; */
        transition: .41s;
       
    }
    .inside span
    {
        color: white;
        font-size: 25px;
        text-shadow: 3px 3px 5px black;
         transition: .41s;
         border: 0;
    }
    .inside button
    {
        color: white;
        margin-left: 5px;
        border-radius: 50px;
        border: none;
        
        padding: 5px 10px;
        background-color: rgb(97, 177, 150);
        transition: .41s;
    }
    .card1:hover .inside
    {
        transform: translatey(-10px);
        color: rgb(209, 0, 0);
    }
    .card1:hover .inside span
    {
        transform: translatey(-10px);
        color: rgb(209, 0, 0);
    }
    .card1:hover .inside button
    {
        /* transform: translatey(-10px); */
        background-color: rgb(209, 0, 0);
    }
    .card1:hover .move
    {
        transform: translatey(-10px);
    }
    .subscribe
    {
        box-sizing: border-box;
        margin-top: 20px;
        width: 100%;
        height: 200px;
        /* filter: brightness(80%); */
        background: linear-gradient(rgba(0, 0, 0, 0.324),rgba(0, 0, 0, 0.324)),
        url('/Flex/Images/newsletter.png');
        
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-color: black;
        text-align: center;
        justify-content: center;
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .subscribe h1
    {
        margin-top: 15px;
        color: white;
    }
    .subscribe p
    {
        margin-top: 10px;
        color: rgba(255, 255, 255, 0.708);
        font-size: 20px;
        /* text-shadow: 3px 3px 5px black; */
        /* border: 3px solid white; */
        /* width: 370px; */
        
    }
    .subscribe input
    {
        margin-top: 50px;
        margin-left: 20px;
        padding: 20px;
        border-radius: 10px;
        border:  none;
        width: 400px;
    }
    .subscribe button
    { 
    
        background-color: rgb(209, 0, 0);
        border: none;
        color: white;
        padding: 20px 40px;
        border-radius: 5px;
        font-size: 15px;
        transition: .44s;
        

    }
    .subscribe button:hover
    {
       
        background-color: rgb(88, 184, 152);
    }
    .popular
    {
        text-align: center;
        padding: 30px;
        margin-top: 60px;

    }
    .popular h1
    {
       
        font-size: 40px;
    }
    .popular p
    {
        font-size: 20px;
        color: grey;
        /* width: 540px; */
        margin: auto;
    }
    .placecard
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .place1
    {
        background-color: white;
        width: 350px;
        height: 300px;
        /* box-shadow: 1px 1px 3px black; */
    }   
    .placeimg
    {
        position: relative;
    } 
    .placeimg img
    {
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0 0;
    }
    .place1 p
    {
        color: grey;
    }
    .place1 .fa-star
    {
        color: rgb(207, 176, 3);
        font-size: 12px;
    }
    .place1 span
    { 
        margin-left: 10px;
        border: none;
        color: grey;
    }
    .place1 .fa-clock
    {
        margin-left: 90px;
        font-size: 12px;
    }
    .place1 .placeinfo
    {
        padding: 20px;
        line-height: 25px;
    }
    .placeinfo h1
    {
        font-weight: normal;
        font-size: 22px;
    }
    .placeimg button
    {
        margin-top: 10px;
        margin-left: 20px;
        position: absolute;
        padding: 10px 20px;
        border-radius: 50px;
        border: none;
        color: white;
        background-color: rgb(7, 212, 212);
        transition: .41s
    }
    .place1:hover .placeimg button
    {
        background-color: rgb(209, 0, 0);
    }
    .more
    {
        margin-top: 150px;
      /* border: 3px solid black; */
      text-align: center;
    }
    .more button
    {
        
        padding: 15px 50px;
        font-size: 20px;
        background-color: rgb(209, 0, 0);
        border: none;
        color: white;
        border-radius: 5px;
        transition: .41s;
    }
    .more button:hover
    {
        background-color: rgb(7, 212, 212)
    }
    .playbutun
    {
        margin-top: 150px;
        width: 100%;
        height: 650px;
        background-image: url('/Flex/Images/video.png');
        background-size: 100% 100%;
        box-sizing: border-box;
        position: relative;
    }
    .playbutun h1
    {
        color: white;
        font-family: Nothing You Could Do,;
        font-size: 90px;
        font-style: italic;
        text-align: center;
        line-height: 300px;
        
    }
    .butun123 
    {
       
        /* display: inline; */
        /* margin-top: 50px; */
        text-align: center;
        /* border: 3px solid violet; */
        /* padding: 30px; */
    }
    .anime
    {
        position: absolute;
        /* border: 3px solid violet; */
        margin-left: 45%;
        /* margin-top: 25%; */
        width: 100px;
        height: 100px;
    
        line-height: 110px;
        background-color: rgb(0, 176, 182);
        border-radius: 50%;
        z-index: 1;

    }
    .anime .fa-play
    {
        /* margin-top: 250px; */
        color: white;
        font-size: 30px;

    }
    .anime2
    {
        position: absolute;
        /* border: 3px solid violet; */
        margin-left: 45%;
        /* margin-top: 25%; */
        width: 100px;
        height: 100px;
        background-color: rgb(0, 176, 182);
       
        opacity: 1;
        border-radius: 50%;
        animation: play 2s infinite;
    }
    @keyframes play
    {
        0%
        {
            transform: scale(1);
            

        }
        100%
        {
            transform: scale(1.5);
            opacity: 0;
        }
    }
    .infoweb
    {
        margin-top: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .infocard
    {
        /* border: 3px solid black; */
        text-align: center;
        line-height: 30px;
    }
    .infocard p
    {
        color: grey;
        font-size: 20px;
        margin: auto;
        width: 350px;
    }
    .infocard .fa-train-subway, .fa-hotel, .fa-earth-americas
    {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 80px;
        color: brown;
    }
    .persons
    {
        padding: 20PX;
        margin-top: 100px;
        background-color: rgb(241, 247, 255);
    }
    .perimg
    {
        position: relative;
        text-align: center;
    }
    .fa-quote-left
    {
        position: absolute;
        margin-left: -40px;
        margin-top: 70px;
        color: white;
        background-color: rgb(80, 151, 127);
        padding: 15px;
        border-radius: 50%;
    }
    .perimg p
    {
        /* color: black; */
        padding: 10px;
        margin: auto;
        font-size: 20px;
        /* width: 630px; */
    }
    .perlst
    {
        color: gray;
    }
    .recent
    {
        text-align: center;
        margin-top: 80px;

    }
    .reccard
    {
        text-align: left;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .recard1:hover h2
    {
        color: brown;
    }
    .recard1 h2
    {
        font-weight: normal;
        width: 350px;
        font-size: 25px;
    }
    .footer
    {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
        background-color: rgb(0, 0, 84);
    }
    .footercard p
    {
        padding: 10px;
        font-size: 15px;
        color: gray;
        /* width: 400px; */
    }
    .footercard h3,.footercard3 h3
    {
    color: white;
    padding: 10px;
    }
    .footercard3
    {
        
    }
    .footercard3 p
    { 
        padding: 10px;
        font-size: 15px;
        color: gray;
        width: 400px;
    }
    .footercard4 .insta
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .footercard4 h3
    {
        color: white;
        padding: 10px;
    }

