@media(max-width:1059px)
{
    .navbar .hidden
    {
        display: inline;
    }
    .navbar li
    {
        display: none;
    }
    .navbar
    {
        padding: 10px 0px;
        background-color: black;
        
    }
    .nav2
    {
        text-align: right;
    }
    .hidden
    {
        color: white;
    }
}
@media  (max-width:764px)
{
   .learn h1
   {
    font-size: 40px;
   }
}
@media  (max-width:570px)
{
  .learn button
  {
    width: 100%;
  }
}
