*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body
{
    background-color:  #f8f9fa;
}
.container
{

}
.background
{

    width: 100%;
    height: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.357)),
     url('/Grid/Images/bg_1.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    /* filter: brightness(80%); */
}
.navbar
{
    font-family: "Arial";
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 30fr 70fr;
    /* justify-content: space-between; */
    padding: 20px 0px;
    /* border: 3px solid black; */
  
}
.nav1
{
    /* text-shadow: 3px 3px 5px black; */
    text-align: center;
    filter: brightness(100%);
    
    color: white;

}
.nav1 h3
{
    font-size:30px ;
    color: white;
}
.nav2
{
    /* background-color: violet; */
    line-height: 60px;
}
.nav2 li
{

    display: inline;
    padding: 30px;
    
    
}

.nav2 a
{
    color: rgba(255, 255, 255, 0.633);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    /* border: 3px solid black; */
}
.nav2 .hidden
{
    display: none;
}
.nav2 .hidden .fa-bars
{
    margin-right: 10px;
}
.nav2 a:hover
{
    color: white;
}
.learn
{
    /* border: 3px solid black; */
    text-align: center;
    padding-top: 160px;
    color: white;
}
.learn p
{
    font-family: "Arial";
    

}
.learn h1
{
    font-size: 80px;
}
.learn button
{
    color: white;
    padding: 20px;
    border: none;
    margin: 5px;
}
.learn button .fa-arrow-right
{
    margin-left: 6px;
    font-size: 10px;
}
.learn button:nth-child(3)
{
    background-color: #c5a880;
}
.learn button:nth-child(4)
{
    background-color: transparent;
    border: 1px solid white;
    transition: .41s;
}
.learn button:nth-child(4):hover
{
    color: black;
    background-color: white;
}
.available
{
    
    height: 180px;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    background-color: black;
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   
    color: white;
}
.available .checkin,.available .checkout,.available .Rooms,.available .Guest
{   
    padding: 20px;
    padding-top: 50px;
    line-height: 40px;
    text-transform: uppercase;
    background-color: black;
    /* border: 3px solid white; */

}
.available .checkin .fa-calendar-days,.available .checkout .fa-calendar-days
{
    color: rgba(255, 255, 255, 0.457);
}
.available .checkin input,.available .checkout input
{
    background-color: rgb(0, 0, 0);
    border: none;
    width: 100px;
}
.available .Rooms span,.available .Guest span
{
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.457);
}
.available .Rooms .fa-angle-down,.available .Guest .fa-angle-down
{
     color: rgba(255, 255, 255, 0.457);
}
.available .check
{   
    color: white;
    padding: 20px;
    padding-top: 50px;
    background-color: #c5a880;
    text-align: center;

}
.content
{
    margin-top: 200px;
}
.main
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 60px;
    

}
.aboutus
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    /* grid-template-rows: 1fr 1fr; */
}

.content .image1,.content .image2
{
    width: 100%;
    height: 250px;
    /* border: 3px solid black; */
}
.content .image1 img,.content .image2 img
{
    width: 100%;
    height: 100%;
}
.content .info1,.content .info2,.content .image1,.content .image2
{
    margin: 20px;
}
.content .info1,.content .info2
{
    text-align: center;
    line-height: 30px;
    padding: 20px;
    width: 100%;
    height: 270px;
    /* border: 3px solid black; */
    background-color: white;
}
.content .info1 p,.content .info2 p
{
    color: rgba(128, 128, 128, 0.781);
    font-size: 18px;
}
.content .info1 img,.content .info2 img
{
    width: 40%;
    height: 80px;
}
.info
{
    /* border: 3px solid black; */
    padding: 20px;
}
.info h1
{
    font-size: 70px;
    font-weight: normal;
}
.info p:first-child
{
    color: #c5a880;
}
.info p:nth-child(3)
{
    margin-top: 40px;
    color: rgba(128, 128, 128, 0.781);
    font-size: 18px;
    line-height: 30px;
}
.info button:nth-child(4)
{
    margin-top: 80px;
    height: 50px;
    width: 200px;
    background-color: #c5a880;
    color: white;
    border: none;
}

.div1:hover .info1
{
    background-color: black;
    color: white;
}
.div2:hover .info2
{
    background-color: black;
    color: white;
}
.unwind
{
    margin-top: 100px;
    text-align: center;
}
.unwind p
{
    color: #c5a880;
    text-transform: uppercase;
}
.unwind h1
{
    font-size: 70px;
    font-weight: normal;
    width: 600px;
    margin: auto;
}
.un1
{
    width: 150px;
    height: 200px;
    background-color: white;
    border-radius: 50% 50% 50% 0px;
    color: black;
    /* border: 3px solid black; */
}
.un1 .fa-wifi
{
    padding-left: 25px;
    padding-top: 20px;
    font-size: 80px;
    color: goldenrod;
    /* border: 3px solid black; */
}
.un1 p
{
    margin-top: 0px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    width: 150px;
}
.un1:hover
{
    color: white;
    background-color: #c5a880;
}
.un1:hover  .fa-wifi
{
    color: white;
    
}
.skills
{
    margin-top: 90px;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.find
{
    /* text-align: center; */
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background:linear-gradient(rgba(0, 0, 0, 0.54),rgba(0, 0, 0, 0.54)),
     url('/Grid/Images/bg_1.jpg');
    background-size: 100%;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));

}
.find p
{
   
    color: #c5a880;
    font-size:20px;
    text-transform: uppercase;
}
.find h1
{
    
    margin: auto;
    width:500px;
    color: white;
    font-size: 50px;
}
.find button
{
    
    width: 200px;
    height: 70px;
}
.find .leving
{

    text-align: left;
    padding-left: 200px;
    padding-top: 20px;
}
.find .buton
{
    padding-top: 50px;
    
}
.find .buton button
{
    font-size: 18px;
    background-color: #c5a880;
    color: white;
    border: none;
}
.rooms1
{
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}
.rooms1 p
{
    color: #c5a880;
    text-transform: uppercase;
}
.rooms1 h1
{
    font-size: 60px;
    font-weight: normal;
}
.card1
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding: 50px;
    gap: 20px;
}
.card12:hover .infopart
{
    color: white;
    background-color: black;
    transition: .51s;


}
.card12:hover .imgpart
{
    background: linear-gradient(rgba(0, 0, 0, 0.444),rgba(0, 0, 0, 0.444)),
    url('/Grid/Images/room-1.jpg');
    background-size: 100% 100%;
    transition: .51s;



}
.card13:hover .infopart
{
    color: white;
    background-color: black;
    transition: .51s;


}

.card13:hover .imgpart2
{
    background: linear-gradient(rgba(0, 0, 0, 0.444),rgba(0, 0, 0, 0.444)),
    url('/Grid/Images/room-2.jpg');
    background-size: 100% 100%;
    transition: .51s;



}


.card14:hover .infopart
{
    color: white;
    background-color: black;
    transition: .51s;


}
.card14:hover .imgpart3
{
    background: linear-gradient(rgba(0, 0, 0, 0.444),rgba(0, 0, 0, 0.444)),
    url('/Grid/Images/room-3.jpg');
    background-size: 100% 100%;
    transition: .51s;



}
.infopart
{
    width: 100%;
    height: 330px;
    /* border: 3px solid black; */
    text-align: center;
    padding: 50px;
    padding-top: 60px;
    background-color: white;
    line-height: 35px;
}
.infopart h1
{
    font-weight: normal;
}
.infopart p
{
    font-size: 18px;
    color:rgba(128, 128, 128, 0.781);

}
.infopart span
{
    
    color: goldenrod;
}
.infopart button
{
    margin-left: 10px;
    width: 100px;
    height: 30px;
}

.imgpart,.imgpart2,.imgpart3
{
    width: 100%;
    height: 300px;
    /* border: 3px solid black; */
    background: url('/Grid/Images/room-1.jpg');
    background-size: 100% 100%;
}
.imgpart2
{
    background: url('/Grid/Images/room-2.jpg');
    background-size: 100% 100%;
}
.imgpart3
{
    background: url('/Grid/Images/room-3.jpg');
    background-size: 100% 100%;
}

.playbutun
    {
        margin-top: 150px;
        
        height: 650px;
        background:linear-gradient(rgba(0, 0, 0, 0.53),rgba(0, 0, 0, 0.53)),
         url('/Grid/Images/bg_2.jpg');
        background-size: 100% 100%;
        box-sizing: border-box;
        position: relative;
        padding-top: 180px;
    }
    .playbutun p
    {
        color: white;
        font-family:" Old Standard TT", Arial, sans-serif,;
        font-size: 20px;
        /* font-style: italic; */
        text-align: center;
        /* line-height: 300px; */
        
    }
    .playbutun h1
    {
        color: white;
        font-family:" Old Standard TT", Arial, sans-serif,;
        font-size: 90px;
      
        text-align: center;
       
        
    }
    .butun123 
    {
       
        /* display: inline; */
        /* margin-top: 50px; */
        text-align: center;
        /* border: 3px solid violet; */
        /* padding: 30px; */
    }
    .anime
    {
        position: absolute;
        /* border: 3px solid violet; */
        margin-left: 45%;
        /* margin-top: 25%; */
        width: 100px;
        height: 100px;
    
        line-height: 110px;
        background-color: #c5a880;
        border-radius: 50%;
        z-index: 1;

    }
    .anime .fa-play
    {
        /* margin-top: 250px; */
        color: white;
        font-size: 30px;

    }
    .anime2
    {
        position: absolute;
        /* border: 3px solid violet; */
        margin-left: 45%;
        /* margin-top: 25%; */
        width: 100px;
        height: 100px;
        background-color: #c5a880;
       
        opacity: 1;
        border-radius: 50%;
        animation: play 2s infinite;
    }
    @keyframes play
    {
        0%
        {
            transform: scale(1);
            

        }
        100%
        {
            transform: scale(1.5);
            opacity: 0;
        }
    }
    .Restro
    {
        padding: 80px;
        text-align: center;
    }
    .Restro p
    {
        color: #c5a880;
        text-transform: uppercase;
        font-size: 20px;
    }
    .Restro h1
    {
        font-size: 60px;
        font-weight: normal;
    }
    .bar 
    {
        display: grid;
        /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
        grid-template-columns: 40fr 60fr;
        padding: 10px;


    }
    .barimg
    {
        width: 95%;
        height: 670px;
        background: url('/Grid/Images/resto-bar.jpg');
        background-size: 100% 100%;

    }
    .barimg .iconbox
    {
        width: 100px;
        height: 130px;
        background-color: #c5a880;
        margin-top: 300px;
        margin-left: 440px;
        border-radius: 10px;
    }
    .barimg .iconbox .fa-wifi
    {
       
        font-size: 60px;
        padding: 15px;
        padding-top: 30px;
        color: white;
    }
    .baritem
    {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
        gap: 15px;
        margin-left: 20px;
    }
    .item1 
    {
        width:100%;
        height: 130px;
        padding: 30px;
        /* border: 3px solid black; */
        display: flex;
        background-color: white;

    }
    .img1 
    {
        
        width: 25%;
        height: 100%;
        background: url('/Grid/Images/menu-1.jpg');
        background-size: 100% 100%;
        border-radius: 50%;
    }
    .img12
    {
        background: url('/Grid/Images/menu-2.jpg');
        background-size: 100% 100%;
    }
    .img13
    {
        background: url('/Grid/Images/menu-3.jpg');
        background-size: 100% 100%;
    }
    .img14
    {
        background: url('/Grid/Images/menu-4.jpg');
        background-size: 100% 100%;
    }
    .img15
    {
        background: url('/Grid/Images/menu-5.jpg');
        background-size: 100% 100%;
    }
    .img16
    {
        background: url('/Grid/Images/menu-6.jpg');
        background-size: 100% 100%;
    }
    .img17
    {
        background: url('/Grid/Images/menu-7.jpg');
        background-size: 100% 100%;
    }
    .img18
    {
        background: url('/Grid/Images/menu-8.jpg');
        background-size: 100% 100%;
    }
    .item1 p
    {
        text-align: left;
        display: inline;
        font-size: 23px;
        margin-left: 30px;
        width: 100px;
        font-family: "sans-serif";

    }
    .item1 span
    {
        color: #c5a880;
        font-size: 20px;
        margin-left: 40px;
        font-size: 25px;
    }
    .item1:hover 
    {
        background-color: black;
        color: white;
    }
    .testimony
    {
        padding: 80px;
        text-align: center;
    }
    .testimony p
    {
        color: #c5a880;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 100px;
    }
    .testimony h1
    {
        font-size: 60px;
        font-weight: normal;
    }
    .reviews
    {
       margin-top: 0px;
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
       gap: 20px;
       padding: 80px;
    }
    .reviews .review1
    {
        padding: 20px;
        /* border: 3px solid black; */
        background-color: white;
        height: 330px;
    }
    .reviews .review1 .mainreview
    {
        
        padding: 30px;
        display: grid;
       grid-template-columns: 1fr 1fr;
        
       
    }
    .fa-quote-left
    {
        color: white;
        background-color: #c5a880;
        padding: 10px;
        border-radius: 50%;
        margin-top: 50px;
        margin-left: 70px;
    }

    .userimg,.userimg2,.userimg3
    {
        width: 100px;
        height: 100px;
        background: url('/Grid/Images/person_1.jpg');
        background-size: 100% 100%;
        border-radius: 50%;
    }
    .userimg2
    {
        background: url('/Grid/Images/person_2.jpg');
        background-size: 100% 100%;
    }
    .userimg3
    {
        background: url('/Grid/Images/person_3.jpg');
        background-size: 100% 100%;
    }
    .userinfo
    {
        margin-left: -20px;
        margin-top: 10px;
    }
    .userinfo span
    {
        color: #c5a880;
    }
    .reviews .review1 p
    {
        font-size: 20px;
        line-height: 30px;
    }
.hashtag
{
    width: 100%;
    height: 200px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    padding-top: 60px;
}
.tag1
{
    text-align: center;
}
.tag1 p
{
    font-size: 40px;
    color: #c5a880;
}
.tag1 span
{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.554);
}
.recent
{
    text-align: center;
    line-height: 40px;
    margin-top: 100px;
}
.recent p
{
    color: #c5a880;
    font-size: 18px;
}
.recent h1
{
    font-size: 80px;
    font-weight: normal;
}
.recentcard
{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    justify-content: center;
    /* padding: 30px; */
    


}
.reccard1
{
    /* border: 3px solid black; */
    width: 300px;
    margin-left: 20px;
    display: block;
    
    
    background-color: white;
}
.recentimg img,.recentimg2 img, .recentimg3 img, .recentimg4 img
{
    height: 250px;
    /* width: 100%; */
    
    border-radius: 5px 5px 0px 0px;
    display: block;
}
.recentimg, .recentimg2, .recentimg3, .recentimg4
{
    /* width: 240px; */
    height: 250px;
    
    border-radius: 5px 5px 0px 0px;
    display: block;
}

.recentinfo
{
    padding: 20px;
    line-height: 40px;
    background-color: white;
    display: block;
    
}
.reccard1 p
{
    font-size: 20px;
    color:grey ;

}
.reccard1 span
{
    color: #c5a880;
    font-size: 20px;
}
.reccard1 p:first-child
{
    display: inline;
}
.reccard1 h2
{
    font-weight: normal;
}
.gallary
{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    padding: 20px;
    gap: 20px;
    
}
.gallaryimg1,.gallaryimg2,.gallaryimg3,.gallaryimg4,.gallaryimg5
{
    transition: 1s;
}
.gallaryimg1
{
    height: 300px;
    background: url('/Grid/Images/gallery-1.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding-top: 150px;
    transition: 1s;
}
.gallaryimg1:hover
{
    background:linear-gradient(rgba(0, 0, 0, 0.423),rgba(0, 0, 0, 0.423)),
     url('/Grid/Images/gallery-1.jpg');
    background-size: 100% 100%;
}
.gallaryimg1:hover .findicon
{
   display: block;
}
.gallaryimg2
{
    height: 300px;
    background: url('/Grid/Images/gallery-2.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding-top: 150px;
}
.gallaryimg2:hover
{
    background:linear-gradient(rgba(0, 0, 0, 0.423),rgba(0, 0, 0, 0.423)),
     url('/Grid/Images/gallery-2.jpg');
    background-size: 100% 100%;
}
.gallaryimg2:hover .findicon
{
   display: block;
}
.gallaryimg3
{
    height: 300px;
    background: url('/Grid/Images/gallery-3.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding-top: 150px;
}
.gallaryimg3:hover
{
    background:linear-gradient(rgba(0, 0, 0, 0.423),rgba(0, 0, 0, 0.423)),
     url('/Grid/Images/gallery-3.jpg');
    background-size: 100% 100%;
}
.gallaryimg3:hover .findicon
{
   display: block;
}
.gallaryimg4
{
    height: 300px;
    background: url('/Grid/Images/gallery-4.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding-top: 150px;
}
.gallaryimg4:hover
{
    background:linear-gradient(rgba(0, 0, 0, 0.423),rgba(0, 0, 0, 0.423)),
     url('/Grid/Images/gallery-4.jpg');
    background-size: 100% 100%;
}
.gallaryimg4:hover .findicon
{
   display: block;
}
.gallaryimg5
{
    height: 300px;
    background: url('/Grid/Images/gallery-5.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding-top: 150px;
}
.gallaryimg5:hover
{
    background:linear-gradient(rgba(0, 0, 0, 0.423),rgba(0, 0, 0, 0.423)),
     url('/Grid/Images/gallery-5.jpg');
    background-size: 100% 100%;
}
.gallaryimg5:hover .findicon
{
   display: block;
}
.findicon .fa-magnifying-glass
{
    color: white;
    background-color: #c5a880;
    padding: 20px;
    border-radius: 50%;
    
}
.findicon
{
    display: none;
}
.footer
{
    background-color: rgba(0, 0, 0, 0.934);
    padding: 40px;

}
.mainfooter
{
    display:  grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));

}
.unwindfoot
{
    color: white;
    width: 300px;
}
.unwindfoot h1
{
    text-transform:  uppercase;
    font-size: 28px;
    font-weight: normal;
}
.unwindfoot span
{
    font-size: 15px;
    text-transform:  uppercase;
}
.unwindfoot p
{
    margin-top: 40px;
 text-transform: capitalize;
 /* font-size: 18px; */
 color: rgba(255, 255, 255, 0.491);
 width: 200px;
}

.unwindfoot .fa-twitter,.fa-facebook,.fa-instagram
{
    margin-top: 20px;
    color: #c5a880;
    padding: 10px;
    background-color: #2d261b;
    margin-left: 10px;
    
}
.unwindfoot .fa-twitter
{
    margin-left: 0;
}
.services h1
{
    text-transform:  uppercase;
    font-size: 24px;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
}
.services a
{
    text-decoration: none;
 
    color: rgba(255, 255, 255, 0.491);
    line-height: 30px;
}
.services .fa-chevron-right
{
    color: rgba(255, 255, 255, 0.491);
    margin-right: 10px;
}
.fa-map,.fa-phone,.fa-paper-plane
{
    color: #c5a880;
    /* padding: 10px; */
}
.rights
{
    text-align: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.491);
    height: 50px;
}
.rights span
{
    color: #c5a880;
}


